<!DOCTYPE html>
<html lang="en">
<head>



  <meta charset="UTF-8">
  <title>Manage Inventory</title>



      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
        body {
          /*height: 800px;*/
      /*    background-size: cover;
          background: blue; /* For browsers that do not support gradients */
    /*      background: -webkit-linear-gradient(left top, yellow, brown); /* For Safari 5.1 to 6.0 */
    /*      background: -o-linear-gradient(bottom right, blue, yellow); /* For Opera 11.1 to 12.0 */
      /*    background: -moz-linear-gradient(bottom right, blue, yellow); /* For Firefox 3.6 to 15 */
      /*    background: linear-gradient(#efefef, gray); /* Standard syntax (must be last) */
          background-color: #ccc;
          padding: 60px;
        }

        #nav {
          background-color: #59B2E0;
          color: black;
        }
        .nav.navbar-nav li a {
          color: black;
          font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
          text-transform: uppercase;
        }

        .navbar-header h {
          color: black;
          font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        }

        .navbar-header h:hover {
          color: white;
        }


        @font-face {
          font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
          /*src: url(sansation_light.woff);*/
        }


      </style>
</head>
<body>
  <h1>Inventory</h1>

  <ul class="Inventory">
     <% for(var i=0; i<inventory.length; i++) {%>
       <li id="item<%=i%>">
         <input type="text" name="productName" value="<%= inventory[i].productName %>" readonly>
         <input type="text" name="quantity" value="<%= inventory[i].quantity %>" readonly>
       </li>
       <% } %>
     </ul>

  <form action="/addInv" method="POST">
        <input type="text" placeholder="product name" name="productName">
        <input type="text" placeholder="quantity" name="quantity">
        <input type="text" placeholder="vendor" name="vendor">
        <button type="submit">Submit</button>
  </form>


  <nav id= "nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id="navhead">
        <a class="navbar-brand" href="#"><h>Campus Grounds Inventory Manager</h></a>
      </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/manageInv">Manage Inventory</a></li>
        <li><a href="/manageVen">Manage Vendors</a></li>

</body>
</html>
